@model IQueryable<Racer>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Race Results</h1>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th><h4>First Name</h4></th>
                <th><h4>Last Name</h4></th>
                <th><h4>Race Time (h:m:s:ms)</h4></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var r in Model)
                {
                    <tr>
                        <td>@r.FirstName</td>
                        <td>@r.LastName</td>
                        <td>@r.Hours:@r.Minutes:@r.Seconds:@r.Milliseconds</td>
                    </tr>
                }
        </tbody>
    </table>

</div>
