@model IEnumerable<Racer>

<h1>Hello</h1>      

@foreach (var r in Model)
{
    <h3>@r.RacerID</h3>
    <h3>@r.FirstName</h3>
    <h3>@r.LastName</h3>
    <h3>@r.Hours:@r.Minutes:@r.Seconds:@r.Milliseconds</h3>
}